/*------------------------------------------------------------------------------
AZ0040 一般検索（参照）スタイルシート

2004/01/15 新規作成  K.Shiraki
------------------------------------------------------------------------------*/
DIV.half {
	overflow: auto;
	height: 100%;
	width: 400;
}
