/*
 * EXPLANNER/J(HTML5)用基本スタイルシート定義
 */

/********* 基本タグのスタイル定義 **********/

html {
  width: 100%;
  height: 100%;
}

/*
  EXPLANNER/J画面の大枠となるbodyのスタイル指定。
 */
body {
  position: static;
  margin: 0px;      /* デフォルトで8pxが設定されるはずだが、明示的に指定する */
  font-size: 9pt;   /* フォントサイズの指定 */
  font-family: "MS PGothic"; /* フォントの指定 */
  width: 100%;
  height: 100%;
}

/* tableタグのスタイル */
table {
  padding: 0;
  border-spacing: 0; /* これを設定しないとDataTablesのセル間に隙間ができてしまう */
}

th {
  border-right: 1px solid black;
}

/* buttonタグのスタイル */
button {
  font-size: 9pt;
  width: 100px;
  color:#000;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 0px 1px #f8f8f8;
  border-radius:3px;
  border:1px solid #ccc;
  padding: 0.5px;
}

/* buttonタグ（オンマウス、オンフォーカス時）のスタイル */
button:hover, button:focus {
  border: solid 2px #66e379;
  cursor: pointer;
  outline: none;
}

button.expj-iconbutton:hover, button.expj-iconbutton:focus {
  outline: dashed 1px #000;
}

/* buttonタグ（マスク時）のスタイル */
button:disabled {
  color:#888;
}

/* マスク時のbuttonタグ（オンマウス）のスタイル */
button:disabled:hover {
  border:1px solid #ccc;
  cursor: default;
}

/* jQueryUIのカレンダーボタンの消去 */
button.ui-datepicker-trigger {
  display: none;
}

/* imgタグのスタイル */
img {
  vertical-align: bottom;
}

/* テキストボックスの×ボタンを削除する */
::-ms-clear {
  display: none;
}

/* パスワードボックスの表示ボタンを削除する */
::-ms-reveal {
  display: none;
}

/* Chromeのオートフィル対策 */
div.tab-body input[type="text"]:-webkit-autofill,
div.tab-body input[type="password"]:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
}
div.tab-body input[type="text"].required-value:-webkit-autofill,
div.tab-body input[type="password"].required-value:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #FFFFA9 inset;
}

/********** 基本タグのスタイル定義(END) **********/

/********** レイアウトテーブルのスタイル **********/
/* 旧tableタグに変わるdivタグのスタイル */
div.div-table {
  display: table;
}
/* 旧trタグに変わるdivタグのスタイル */
div.div-tr {
  position: static;
  width: 100%;
  height: 23px;
}
/* 旧tdタグに変わるdivタグのスタイル */
div.div-td {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding-top: 0.5px;
  white-space: nowrap;
}
/* align=rightがつけられた旧tdタグのスタイル */
div.div-td .align-right {
  right: 0;
  text-align: right;
}
/* ボタン部分のdivタグのスタイル */
div.datagrid-button-field-cell {
  display: table-cell;
  vertical-align: middle;
}
/* ボタン部分＼部のスタイル */
div.button-area-left {
  border-bottom: 32px solid #8f8f8f;
  border-left: 60px solid transparent;
  box-sizing: border-box;
}
/* ボタン部分／部のスタイル */
div.button-area-right {
  border-bottom: 32px solid #8f8f8f;
  border-right: 60px solid transparent;
  box-sizing: border-box;
}
/* ボタン配置部分のスタイル */
div.button-area {
  background-color: #8f8f8f;
}
/* フッターのグラデーションを実現するスタイル */
div.under-gradation {
  border-top: solid 1px #000;
  background: linear-gradient(0deg, #0f225a 70%, #fff);
  width: 100%;
  height: 42px;
}

div.under-gradation > div {
  padding-top: 6px;
}
/********** レイアウトテーブルのスタイル(END) **********/

/********** DataGridレイアウトスタイル **********/
/* DataGridの枠線スタイル定義 */
div.data-grid-table {
  background-color: #dadcf4;
  border: 6px #929292 ridge;
  margin-left:5px;
}
/********** DataGridレイアウトスタイル(END) **********/

/********** DataGrid(FORM)のスタイル**********/
/* DataGrid(FORM)のスタイル */
.grid-form {
  overflow-y: scroll;
  height: 435px;
}
form {
  overflow-x: hidden;
}
form .div-table .div-tr{
  min-width: 946px;
}
/* label上下中央寄せ*/
form .div-table .div-tr .div-td label{
  vertical-align: 18%;
}
/********** DataGrid(FORM)のスタイル(END)**********/

/********** DataGrid(VIEW)のスタイル**********/
.table-column-right {
  text-align: right;
}
/********** DataGrid(VIEW)のスタイル(END)**********/

/********** コンポーネントのスタイル **********/
/* required属性のラベルスタイル */
.required-name {
  font-weight: bold;
}
/* required属性のコンポーネントのスタイル */
.required-value {
  background-color: #ffffa9 !important;
}
.required-comboBox {
  background-color: #ffffa9;
}
/* orflabelのスタイル */
.input-name {
  margin-right: 4px; /* 右側を4px空ける */
}
/********** コンポーネントのスタイル(END) **********/

/* EXPLANNER/J バージョン情報表示スタイル */
.version {
  font-family: Arial;
  font-size: 11pt;
  color: #c7cbf3;
  padding-left: 5px;
}

.expj-align-left{
 text-align:left;
}
.expj-align-right{
 text-align:right;
}
.expj-align-center{
 text-align:center;
}
.expj-align-right input[type="text"]{
 text-align:right;
}


.widthLinePartition {
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-left-color: #929292;
  border-left-width: 6px;
  border-left-style: ridge;
  border-right-color: #929292;
  border-right-width: 6px;
  border-right-style: ridge;
  width :16px;
}

/********** fancytreeのカスタマイズスタイル **********/
/* 選択済みTreeNodeの親の背景色を指定 */
.node-selected-parent {
  background-color: #fcc !important;
  border-color: #fcc !important;
}

/* 選択済みTreeNodeの背景色を指定 */
.node-selected-self {
  background-color: #ccf !important;
  border-color: #ccf !important;
}

/* 非選択TreeNodeの背景色を指定 */
.node-deselected {
  background-color: #fff;
  border-color: #fff;
}

/* マウスカーソルを合わせたTreeNodeの背景色を指定 */
span.fancytree-node:hover {
  background-color: #cff;
  border-color: #cff;
}

/*
TODO ツリー描画エリアサイズを強制上書きしないと高さが20pxでしか表示されない
     ツリーのDIVをEJのレイアウト外に移動させるとまともに表示される
     そのDIVを囲んでいる領域が狭すぎるという問題ではない
     tableの中にDIVを置くことが問題なわけでもない
     Fancytreeが高さをどうやって後付けで設定しているか要調査
*/
ul.fancytree-container {
  height: 98% !important;
  width: 99% !important;
  font-size:9pt !important;
  border : none !important;
  outline : none !important;
}

/********** fancytreeのカスタマイズスタイル(END) **********/

/*
 * positionはデフォルトでstaticが指定されるが、分かりやすいように明示的に指定する。
 */

/*
  画面枠部品のラッパータグのスタイル指定。
 */
#expj-screen-wrapper {
  position: static;
  width: 100%;       /* 横幅はブラウザウィンドウに対して100%表示 */
  height: 100%;      /* 縦幅はブラウザウィンドウに対して100%表示 */
  overflow: auto;
}

/*
  EXPLANNER/J画面枠部品（タブ部分除く）を構築するタグのスタイル指定。
 */
#expj-screen-header {
  position: static;
  min-width: 968px;
}

/*
  画面枠部品のユーザ情報表示フィールドを構築するタグのスタイル指定。
 */
#expj-screen-header-user-info-field {
  position: static;
  width: 100%;               /* 横幅は親タグに合わせる */
  height: 18px;              /* 縦幅は固定 */
  background-color: #0f2358; /* 背景色の指定 */
  overflow: hidden;          /* ユーザ情報がオーバーする場合は省略 */
  text-align: right;         /* 右寄せ表示 */
}

/*
  画面枠部品のユーザ情報のスタイル指定
 */
#expj-screen-header-user-info {
  position: relative; /* 表示位置を調節するためrelativeとする */
  right: 100px;       /* 親タグの右から100px離れた位置に表示 */
  top: 4px;           /* 表示位置の調節。4px下に移動する */
  font-weight: bold;  /* 文字のフォント指定 */
  color: #fff;        /* 文字色指定 */
}

/*
  画面枠部品のロゴ、各種メニュー、コンソールフィールドを構築するタグのスタイル指定。
 */
#expj-screen-header-objects-field {
/*  height: 64px;  expj-screen-header-objects-ej-logoとexpj-screen-header-objects-menu-iconsで指定しているため不要？ */
}

/*
  画面枠部品のロゴ、各種メニューフィールドを構築するタグのスタイル指定。
 */
#expj-screen-header-objects-logomenu-field {
  float: left;  /* 左寄せ。次の要素はこの要素の右隣りに来る */
  width: 260px; /* 横幅固定 */
}

/*
  画面枠部品のロゴのスタイル指定。
 */
#expj-screen-header-objects-ej-logo {
  width: 260px; /* 横幅固定 */
  height: 32px; /* 縦幅固定 */
  cursor: pointer;
}

/*
  画面枠部品の各種メニューを構築するタグのスタイル指定。
 */
#expj-screen-header-objects-menu-icons {
  width: 256px; /* 横幅固定 */
  height: 20px; /* 縦幅固定 */
  padding: 2px; /* アイコンの表示位置を調整 */
  background: linear-gradient(90deg, #ff7d3f, #fff2eb); /* 背景色の指定（グラデーションの有効化） */
}

/*
  画面枠部品の各種メニューの隙間を調節するスタイル
 */
#expj-screen-header-objects-menu-icons > img {
  padding-right: 5px;
  cursor: pointer;
}

/*
  画面枠部品のコンソールフィールドを構築するタグのスタイル指定。
 */
#expj-screen-header-objects-messages {
  height: 44px;           /* 縦幅固定 */
  overflow-y: scroll;     /* 縦スクロールの有効化 */
  background-color: #fff; /* 背景色の指定 */
  border: inset 2px #eee; /* コンソール枠の設定 */
  padding: 4px;           /* メッセージ表示位置の調整（枠から少し離す） */
  line-height: 1.0em;     /* テキストの行高さを指定 */
}

#expj-screen-header-objects-messages img {
  width: 15px;
  height: 15px;
}

/*
  タブで表示するエリアを構築するタグのスタイル指定。
  高さはjavascript側で行っている
 */
#expj-screen-header-tabs {
  position: static;
  min-width: 968px;
  /*margin-top: 2px; /* タブとヘッダー部分に空きを作るためのマージン */
  min-height: 612px;
  border: 0px;
  padding: 0px;
  width: 100%;
  height: calc(100% - 74px);
  overflow: hidden;
}

#expj-screen-header-tabs > ul {
  width: calc(100% - 60px);
}

/*
  Chrome対応。アンカーのフォーカス除去
 */
ul.ui-tabs-nav > li > a:focus {
  outline : none;
}

/*
  タブ部品のページングスピナーを構築するタグのスタイル指定。
 */
#expj-screen-header-paging-tab-spinner {
  width: 20px;  /* 横幅 */
  height: 14px; /* 縦幅 */
}

/*
  タブ部品のページングスピナーを構築するタグのスタイル指定。
 */
#expj-screen-header-paging-tab-spinner:focus {
  border: none !important; /* フォーカス時にテキストエリアのborderが表示されるのを防ぐ */
}

/*
  業務画面がひとつも開かれていない時に表示される画面のスタイル指定。
 */
#expj-initial-business-screen {
  position: static;
  width: 100%;  /* 横幅 */
  background-color: rgb(167, 176, 199); /* 背景色指定 */
}

/* 隠しファイルアップロードフィールド */
#expj-file-field {
  display: none;
}
/* 隠しファイルアップロードフィールド */
#expj-file-field-tmp {
  display: none;
}

/*
  業務画面がひとつも開かれていない時に表示される画面のロゴスペースのスタイル指定。
 */
#expj-initial-business-screen-logo-space {
  position: relative; /* 表示位置を調節するためrelativeとする */
  top: 85%;           /* expj-initial-business-screenから縦に85%の位置に表示する */
  width: 100%;        /* 横幅 */
  border-top: solid 2px rgb(0, 0, 45);    /* 枠線（上部）の設定 */
  border-bottom: solid 2px rgb(0, 0, 45); /* 枠線（下部）の設定 */
  background-color: #FFFFFF; /* 背景色指定 */
  text-align: right;  /* 右寄せにする */
}

/*
  業務画面がひとつも開かれていない時に表示される画面のロゴスタイル指定。
  ロゴの右側に50pxの空きを作る。
  画像変更により不要。
#expj-initial-business-screen-logo-space > img {
  padding-right: 50px;
}
*/

.expj-business-screen-height {
  height: calc(100% - 25px);
}

/* Viewヘッダ行font指定 */
div.orteusView > div.orteusView_HeadArea table > thead > tr > th{
 font-family: sans-serif;
}

/* 以降のCSSはjQuery UIの上書き -------------- */
.ui-widget, .ui-widget input, .ui-widget select {
  font-family: "MS PGothic", "SimHei"; /* フォントの指定 */
  font-size: 9pt;
}

/* タブの文字サイズ調整 */
.ui-tabs-anchor {
  font-size: 9pt;
  padding: .2em 1em 0 1em !important;
}

/* これを設定しないとデフォルト設定ではタブのパネル内のコンテンツがかなり右に寄る */
.ui-tabs .ui-tabs-panel {
  padding: 0;
}

/* 以降のCSSはhtmlタグの上書き -------------- */
input[type='text'] {
  background-color: #fff;
  font-family: "MS PGothic";
  font-size: 9pt;
  padding: 2px;
  height:22px;
  border-color: initial;
}

input[type='text']:focus {
  border: solid 2px #66e379;
  outline: none;
}

input[type='text']:disabled {
  color: #000;
  background-color: #e0e0e0  !important;
}

input[type='password'] {
  background-color: #fff;
  font-family: "Verdana";
  font-size: 9pt;
  padding: 2px;
  height:22px;
  border-color: initial;
}

input[type='password']:focus {
  border: solid 2px #66e379;
  outline: none;
}
input[type='password']:disabled {
  color: #000;
  background-color: #e0e0e0  !important;
}

input[type='radio']:focus, input[type='checkbox']:focus {
  outline: dotted 1px #000000;
}

.expj-disabled-label {
  color: #808080 !important;
}

.expj-iconbutton {
  background-color: #DADCF4 !important;
  border: 0px solid #DADCF4 !important;
  border-radius: 0px !important;
  box-shadow: 0px 0px 0px 0px #DADCF4 !important;
  width: auto !important;
  height: auto !important;
  padding: 1.2px 0px 0px 0px !important;
}

.expj-iconbutton:disabled {
  opacity: 0.50;
  background-color: #e0e0e0 !important;
}

img.expj-calendar-button:disabled {
  opacity: 0.50;
  background-color: #e0e0e0 !important;
}

input[type='number'] {
  background-color: #fff;
  font-family: "MS PGothic";
  font-size: 9pt;
  padding: 2px;
  text-align: right;
}

select {
  height: 22px;
}

select:focus {
  outline: solid 1px #66e379;
}

#expj-tooltip-instance {
  position: fixed;
  bottom: -2.8em;
  left: 0.3em;
  z-index: 9999;
  padding: 0.3em 0.5em;
  height: 15px;
  color: #000000;
  background: #FFFFFF;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5em;
  height: auto;
  bottom: auto;
  max-width: 500px;
  word-break: break-all;
}
.expj-view-cell-input-header {
  padding: 0px !important;
}
.expj-view-cell-input {
  width: 100%;
  height: 100%;
  border-width: 0px;
  background-color: rgba(255, 255, 255, 0) !important;
  box-sizing: border-box;
}
.expj-view-cell-input:focus {
  border-width: 2px;
  background-color: rgba(255, 255, 255, 100) !important;
}

/* DataGrid(VIEW)のテーブル行幅を調整する */
.expj-datagrid-view .dataTables_scrollBody tbody tr {
  height: 18px;
}
.expj-datagrid-view .dataTables_scrollBody tbody td {
  height: 100%;
}

/* DataGrid(VIEW)のヘッダーの項目（ラベル）のスタイルを調整する */
th.expj-view-cell-label {
  text-align: left;
  padding-left: 3px !important;
  padding-right: 3px !important;
}
/* DataGrid(VIEW)のヘッダーの項目（テキストインプット）のスタイルを調整する */
th.expj-view-cell-textinput {
  text-align: left;
  padding-left: 3px !important;
  padding-right: 3px !important;
  color: #3FA619;
}
/* DataGrid(VIEW)のヘッダーの項目（チェックボックス）のスタイルを調整する */
th.expj-view-cell-checkbox {
  text-align: left;
  padding-left: 3px !important;
  padding-right: 3px !important;
  color: #3FA619;
}
/* DataGrid(VIEW)のヘッダーの項目（チェックボックス）のスタイルを調整する */
th.expj-view-cell-combobox {
  text-align: left;
  padding-left: 3px !important;
  padding-right: 3px !important;
  color: #3FA619;
}
td.expj-view-cell-hidden input[type='text'] {
  height:0px !important;
}

td.expj-view-cell-label {
  padding-left: 3px !important;
  padding-right: 0px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

td.expj-view-cell-textinput {
  padding: 0px !important;
}

td.expj-view-cell-textinput input[type='text'] {
  width: 100% !important;
  height: 100%;
  border-width: 0px;
  padding-left: 3px;
  background-color: rgba(255, 255, 255, 0) !important;
  box-sizing: border-box;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 10pt !important;
}

td.expj-view-cell-textinput input[type='text']:focus {
  border-width: 2px;
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: rgba(255, 255, 255, 100) !important;
}
/* DataGrid(VIEW)のデータの項目（チェックボックス）のスタイルを調整する */
td.expj-view-cell-checkbox {
  text-align: center;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}
td.expj-view-cell-checkbox input[type='checkbox'] {
  margin: 0px;
}
td.expj-view-cell-combobox {
  padding: 0px !important;
}
td.expj-view-cell-combobox select {
  width: calc(100% + 20px) !important;
  border-width: 0px;
  background-color: rgba(255, 255, 255, 0);
  height: 18px;
  box-sizing: border-box;
}
td.expj-view-cell-combobox select:focus {
  width: 100% !important;
  background-color: rgba(255, 255, 255, 100);
}
/* detail-table-cell */
td.expj-detail-cell {
  padding-left: 1px !important;
  padding-right: 2px !important;
  font-size: 9pt !important;
}
td.expj-detail-cell input[type='text'] {
  width: 100% !important;
  height: 100%;
  border-width: 0px;
  padding: 0px !important;
  background-color: rgba(255, 255, 255, 0) !important;
  box-sizing: border-box;
  font-size: 9pt !important;
}

td.expj-detail-cell input[type='text']:focus {
 /* border-width: 2px !important;
  padding-left: 1px !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;*/
  padding-left: 1px !important;
  background-color: rgba(255, 255, 255, 100) !important;
}

.datagrid-button-field {
  display: table;
}
.expj-datagrid-form input[type='text'] {
  box-sizing: border-box;
}
.expj-datagrid-form input[type='password'] {
  box-sizing: border-box;
}
.expj-datagrid-form input[type='checkbox'] {
  margin-left: 0px;
}
.expj-datagrid-form input[type='radio'] {
  margin-left: 0px;
  margin-right: 0px;
}

.expj-datagrid-detail {
  overflow: hidden !important;
}

.expj-datagrid-detail .dataTable thead th {
  padding: 3px;
}

.expj-datagrid-detail .dataTables_wrapper {
  width: 100%;
  height: 100%;
}
.expj-datagrid-detail .dataTables_scroll {
  width: 100%;
  height: 100%;
}
.expj-datagrid-detail .DTTT_container {
  display: none;
}
.expj-datagrid-view .DTTT_container {
  display: none;
}
.expj-view-cell-hidden {
  width:0px !important;
  border: 0px !important;
  padding: 0px !important;
  display: none;
}
.expj-detail-cell-hidden {
  width:0px !important;
  border: 0px !important;
  padding: 0px !important;
  height:0px !important;
  font-size:0px !important;
  display: none;
}

div#expj-loading-mask-screen {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  display: none;
  z-index: 1000;
}
div#expj-loading-screen-frame {
  display: table-cell;
  vertical-align: middle;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

div#expj-loading-text {
  display: inline-block;
  padding: 10px 50px;
  background: linear-gradient(0deg, #FFFFFF 70%, #EEEEEE);
  border: 1px ridge #FFFFFF;
  font-weight: bold;
}

#expj-main-contextMenu {
  z-index : 1000;
}

#expj-main-contextMenu button {
  background-color : #f8f8f8;
  box-shadow : 0px 0px 0px 0px #f8f8f8;
  border-radius : 0px;
  border : 0px solid #ccc;
  text-align : left;
  padding-left : 10px;
  display : block;
  width : 100px;
}

#expj-main-contextMenu button:hover {
  border : 1px solid #999;
  background-color: #dadada;
  cursor: pointer;
  text-align : left;
}

/* PEEKERの検索ダイアログのスタイル定義 */
/* 読み取り専用ダイアログの色調整 */
#expj-ZZ0010010-detail-dialog input[type="text"]:disabled {
  background-color: transparent !important;
}

/* 読み取り専用ダイアログの色調整（フォーカス時） */
#expj-ZZ0010010-detail-dialog tr:hover input[type="text"]:disabled {
  background-color: #E0E0E0 !important;
}

/* 印刷ダイアログのVIEW枠線定義 */
#expj-ZZ0020010-printer-table-view-wrapper .dataTables_scrollHead table {
  border-left : solid 1px #000000;
  border-top : solid 1px #000000;
}
#expj-ZZ0020010-printer-table-view-wrapper .dataTables_scrollBody table {
  border-left : solid 1px #c3d0e0;
}

/* 無効タグの非表示 */
.expj-tab-contants p {
  display:none;
}

.expj-tab-contants b {
  display:none;
}

.expj-tab-contants strong {
  display:none;
}

/* 詳細window 調整 */
.ui-dialog div[data-mode="DETAIL"]{
  padding-top: 0px !important;
  padding-left: 6px !important;
  padding-right: 1px !important;
  padding-bottom: 0px !important;
}
.ui-dialog div[data-mode="DETAIL"] .orteusView_BodyArea {
  overflow:scroll !important;
}
div.orteusView > div.orteusView_HeadArea table > thead > tr > th.expj-view-cell-textinput,
div.orteusView > div.orteusView_HeadArea table > thead > tr > th.expj-view-cell-checkbox,
div.orteusView > div.orteusView_HeadArea table > thead > tr > th.expj-view-cell-combobox {
  color: #3FA619;
}

.ui-dialog .ui-dialog-titlebar button {
  outline: none;
}

.expj-business-screen-error-page {
  background-color : #E6E6FA;
}
button[data-revokectrl="disabled"] {
  opacity: 0.5;
}
button[data-revokectrl="hidden"] {
  opacity: 0.0;
}

.expj-label {
  white-space: pre;
}

/* カレンダーデザイン */
.ui-datepicker-calendar .ui-state-default{
	border:1px solid rgba(0, 0, 0, 0);
	background-color:rgba(255,255,255,1);
	background-image:none;
	color:#464646;
	text-align:center;
	line-height:18px;
	font-size:12px;
}
/* calendar header */
#ui-datepicker-div>div{
	background-image:none;
	background-color:rgba(255,255,255,1) ;
	border:none;
}
/* calendar table */
#ui-datepicker-div .ui-datepicker-calendar{
	border:1px solid #ccc;
}
/* 当日日付 */
#ui-datepicker-div .ui-datepicker-calendar tr .ui-datepicker-today a{
	border:none;
	background:#565656 !important;
	color:rgba(255,255,255,1);
	border-radius:3px;
 }
/* 選択日付 */
#ui-datepicker-div .ui-datepicker-calendar tr .ui-datepicker-current-day a{
	border:1px solid rgba(71,71,71,1);
	background:rgba(255,255,255,1);
	font-weight:normal;
	color:#212121;
	border-radius:3px;
}
/* mouseover */
.ui-state-hover,.ui-widget-content .ui-state-hover,
.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-hover,
.ui-widget-header .ui-state-focus{
		border:1px solid #999;
		background:#868686;
		font-weight:normal;
		color:rgba(255,255,255,1);
		border-radius:3px;
		cursor:pointer;
}
